version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      #- restore_cache:
      #    key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install .
      #- save_cache:
      #    key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
      #    paths:
      #      - "venv"
      - run:
          name: Running tests
          command: |
            . venv/bin/activate
            touch .medium_creds.ini
            cd test
            python3 -m unittest
      - store_artifacts:
          path: test-reports/
          destination: python_app
